<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="icon" href="https://res.cloudinary.com/dzjvyptwz/image/upload/v1720767353/yur4p0t5zkum8jirhdxf.png" type="image/x-icon">

    <style>
        body{
            background-color: rgb(229, 221, 221);
        }

        .go-back {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: #75aad8;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            font-size: 16px;
            transition: background-color 0.3s;
        }
        .go-back:hover {
            background-color: #0056b3;
        }
    </style>
    <title>Edit Page</title>
</head>
<body>
  <a href="/adminRoute" class="go-back">Go Back</a>
    <div style=" display: flex; justify-content: center; margin-top: 5%;">
    
        <form style="height: 150px; width: 300px;" action="/editUserByAdmin" method="post">
            <h3 class="d-inline mb-4"> Edit User Entry</h3><br><br>
          <div class="mb-3">
            <label class="form-label "><strong>Full Name</strong></label>
            <input type="text" name="name" class="form-control" >
            <input type="hidden" name="userid" class="form-control" value="<%=userId%>" >
          </div>
         
            
            <input type="hidden" name="email" class="form-control" >
            <!-- <div class="text-center" id="massage">Recheck before submission</div> -->
          
          <div class="mb-3">
            <label  class="form-label"><strong>Password</strong></label>
            <input type="password" name="password" class="form-control">
            
          </div>   
          <div class="mb-3">
            <label class="form-label"><strong>Contact Number</strong></label>
            <input type="tel" name="phone" class="form-control"  />
          </div>
          <div class="mb-3">
            <label class="form-label"><strong>Address</strong></label>
            <input type="text" name="address" class="form-control"  />
          </div>
          <div class="mb-3">
            <label class="form-label"><strong>Something about you</strong></label>
            <textarea
              type="text"
              name="intro"
              class="form-control"
              value="i am a former bussiness developer and currently i am living in new york city, i have an exprerience of 10 years in application development for ios ,I did my nursing from wel alfraid unisco unite education and reserch center uk and the further internship done with pablo hercks vich private limited , i am confident about my application development skills"
              placeholder="i am a former bussiness developer and currently i am living in new york city, i have an exprerience of 10 years in application development for ios ,I did my nursing from wel alfraid unisco unite education and reserch center uk and the further internship done with pablo hercks vich private limited , i am confident about my application development skills"
              ></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label"
              ><strong>choose image URL</strong></label
            >
            <input
              type="text"
              name="image"
              class="form-control"
              
            />
          </div> 
          <br>
           <button type="submit" class="btn btn-primary ">Edit User Data</button>
           
        </form>
    </div>   
    <!-- <div>wait a second</div> -->




    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

</body>
</html>