<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PageNotFound</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMw1mc-2aG3FFNUAelzgUqS9wgjwQETIXZKQ&s" type="image/x-icon">

    <style>
        .go-back {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: #75aad8;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            font-size: 16px;
            transition: background-color 0.3s;
        }
        .go-back:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <a href="/login" class="go-back">Go Back</a>
    <div style="display: flex; justify-content: center;">
        
        <h1  style="font-size: 300px; color: #0b4485;"> 404 </h1>
        <h1 style="margin-top: 440px;">Page Not Found </h1>

    </div>





    
</body>
</html>